<h1>login</h1>
<%= form_with( url: users_login_path, local: true) do |form| %>

  <% if flash[:alert] %>
    <div id="error_explanation">
      <h2>prohibited this user from being saved:</h2>

      <ul>
      <%= flash[:alert] %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "名前" %>
    <%= form.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit :login %>
  </div>
<% end %>
